/* Dark mode colors. */
:root {
	--sl-color-accent-low: #002a2e;
	--sl-color-accent: #007883;
	--sl-color-accent-high: #a6d2d7;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #edecf9;
	--sl-color-gray-2: #c8c6d6;
	--sl-color-gray-3: #a3a0bd;
	--sl-color-gray-4: #58546e;
	--sl-color-gray-5: #38344d;
	--sl-color-gray-6: #27233a;
	--sl-color-black: #181621;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #bedee2;
	--sl-color-accent: #00555d;
	--sl-color-accent-high: #003a40;
	--sl-color-white: #181621;
	--sl-color-gray-1: #27233a;
	--sl-color-gray-2: #38344d;
	--sl-color-gray-3: #58546e;
	--sl-color-gray-4: #8b87a4;
	--sl-color-gray-5: #c2c0cf;
	--sl-color-gray-6: #edecf9;
	--sl-color-gray-7: #f6f5fc;
	--sl-color-black: #ffffff;
}

.property-signature {
	display: grid;
	grid-template-columns: max-content auto;
	justify-items: start;
	align-items: baseline;
	grid-gap: 0.2rem 0.5rem;
}
.property-signature .name {
	font-weight: bold;
	grid-column: 1;
}
.property-signature .value {
	grid-column: 2;
	font-family: var(--__sl-font-mono);
	font-size: var(--sl-text-code-sm);
	background-color: rgba(128, 128, 128, 0.12);
	padding: 0.125rem 0.375rem;
}
.property-signature a {
	color: var(--sl-color-text-accent);
}
.property-signature a:hover {
	color: var(--sl-color-white);
}
